* {
    margin: 0px;
    padding: 0px;
}
.html {
    color: black;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 1rem 0.5rem;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.container{
    display: flex;
    flex-direction: row;


    font-size: 1rem;

    margin: 0.1rem 0.5rem;


}

.container:nth-child(odd) {background-color: #ccc}
a         { color: black;  }
a:link    { color: black;   }
a:visited { color: black;
    background-color: black; }
.container:hover {background-color: black; color: white;}
.container a:hover {background-color: black; color: white;}
.company{
    min-width: 30vw;

}
.course_name{
    min-width: 30vw;
}
.url{
    min-width: 20vw;
}
